
h1{
font-family: 'Gloria Hallelujah', cursive;
font-weight: bold;
}
h4{
font-family: 'Roboto', sans-serif;

}

.cont{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.container{
    border: 2px solid black;
    padding: 30px;

}
.border-row{
    border: 2px solid black;
    
}
.img-center{
    display: flex;
    justify-content: center;
    align-items: center;

}